nav {
  background: linear-gradient(to top, #c03737 45%, #e90303 55%) !important;
  color: #fff !important;
  position: sticky !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

}
a {
    color: #fff !important;
}
